<template>
    <div class="c-form">
            <div v-for="(input, index) in formData[0].fields" class="c-form__field" :key="`${index}-${type}`">
                <span>{{ input.icon }}</span>
                <input :name=input.name :type=input.type :placeholder=input.text />
            </div>
                
            <Button class="o-button" type="submit" :text=formData[0].submitText />    
    </div>
</template>

<script>

import Button from '@/objects/Button/Button.vue';

export default {
  name: 'Form',
  props: ['formData'],
  components: { 
      Button
  },
  mounted() {
      console.log(this.formData[0].fields);
  },
}
</script>