<template>
    <a href="http://www.jobleads.com" class="o-logotype">
      <img src="@/assets/logo_JL.svg" class="o-logotype__image" />
    </a>
</template>

<script>
export default {
  name: 'Logotype'
}
</script>