.o-price {

    display: flex;
    padding: 25px 0;
    border-top: 1px solid rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);

    &--with-discount {

    }

    &__data {
        display: flex;
        flex-wrap: wrap;
    }

    &__main {
        font-size: 39px;
    }

    &__currency {
        font-size: 39px;
    }

    &__discount {
        font-size: 16px;
        text-decoration: line-through;
        flex-basis: 100%;
    }

    &__icon {
        width: 70px;
        height: 70px;
        background: #CCC;
        margin-right: 13px;
    }

}