.c-header {
    width: 100%;
    height: $headerHeightDesktop;
    position: relative;
    background: $headerBackgroundColor;
    box-shadow: $headerBoxShadow;

    @include breakpoint('s') {
        height: $headerHeightMobile;
    }

    &__logout-button {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    &--logotype-center {
        .o-logotype {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

} 