$footerHeightDesktop: 46px;
$footerHeightMobile: 46px;
$footerBackgroundColor: $color-white;

.c-footer {

    width: 100%;
    height: $footerHeightDesktop;
    background: $footerBackgroundColor;

    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint('s') {
        height: $footerHeightMobile;
    }

    .o-logotype {
        margin-right: 16ox
    }
    
}