.c-registerform {
    width: 425px;
    background: #FFF;
    box-shadow: 0 1px 3px 0;
    padding: 16px;
    position: relative;

    .o-paragraph {
        padding-right: 25%;
    }

    .c-form {
        margin-top: 20px;
    }

    .o-button {
        margin: 35px auto 0 auto;
        display: block;
    }

    .o-button__close {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        right: 10px;
        margin: 0;
        padding: 0;
    }

}