.c-jobcard {
    width: 425px;
    background: #FFF;
    box-shadow: 0 1px 3px 0;
    padding: 0 0 35px 0;
    margin-bottom: 20px;

    &__heading {
        padding: 16px;
        background: #f4f9ff;
        color: #707b87;
    }

    &__features {
        padding: 16px;
    }

    &__price {
        padding: 0 16px;
    }

    .o-button {
        margin: 35px auto 0 auto;
        display: block;
    }

}