.c-container {

    width: 100%;
    padding: 36px;
    height: calc(100vh - ( #{$headerHeightDesktop} + #{$footerHeightDesktop} ) );

    @include breakpoint('s') {
        height: calc(100vh - ( #{$headerHeightMobile} + #{$footerHeightMobile} ) );
    }

    &--with-background {
        background: url('../assets/pm_mood.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

}