<template>
    <div class="c-jobcard">
        <div class="c-jobcard__heading">
          <Headline text="Sehr geehrter Herr Mustermann, starten Sie sauber ins neue Jahr mit neuen Perspektiven." type='h1' />
        </div>
        <div class="c-jobcard__features">
          <Features :data=features />
        </div>
        <div class="c-jobcard__price">
          <Price value='29,99' currency='EUR' discount='EUR 13,23 pro Monat' icontype='plus' />
        </div>
        <Button class="o-button" text="Jetzt neuen Job finden" />
    </div>
</template>

<script>

import Headline from '@/objects/Headline/Headline.vue';
import Features from '@/objects/Features/Features.vue';
import Price from '@/objects/Price/Price.vue';
import Button from '@/objects/Button/Button.vue';

export default {
  name: 'JobCard',
  data () {
    return {
      features: [
        { special: false, text: 'Zugang zu tausenden Headhuntern und deren Positionen' },
        { speical: false, text: 'Voller Zugriff auf alle Spitzenpositionen' },
        { special: false, text: 'Premium-Stellensuche mit einzigartigen Suchfiltern' },
        { special: true, text: 'Inklusive Lebenslauf-Check im Wert von 79€' }
      ]
    }
  },
  components: {
    Headline,
    Features,
    Button,
    Price
  }
}
</script>