<template>
    <div>
        <ul>
          <li v-for="(feature, index) in data" :key="`item-${index}`">
            <span v-if="feature.special"> R - </span>
            <span v-else>G - </span>
            {{ feature.text }}
          </li>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'Features',
  props: ['data']
}
</script>