// Header

$headerHeightDesktop: 52px;
$headerHeightMobile: 52px;
$headerBackgroundColor: $color-white;
$headerBoxShadow: 0 1px 0 0 #EDEDED;

// Footer

$footerHeightDesktop: 46px;
$footerHeightMobile: 46px;
$footerBackgroundColor: $color-white;
