<template>
    <header class="c-header c-header--logotype-center">
        <Logotype />
        <Button class="c-header__logout-button" text="Logout" />
    </header>
</template>

<script>

import Logotype from '@/objects/Logotype/Logotype.vue';
import Button from '@/objects/Button/Button.vue';

export default {
  name: 'Header',
  components: {
    Logotype,
    Button
  }
}
</script>