<template>
  <section class="c-container c-container--with-background">
    <JobCard />
    <RegisterForm />    
  </section>
</template>

<script>
import JobCard from '@/components/JobCard/JobCard.vue';
import RegisterForm from '@/components/RegisterForm/RegisterForm.vue';

export default {
  name: 'Homepage',
  props: {
    msg: String
  },
  components: {
    JobCard,
    RegisterForm
  }
}
</script>