<template>
    <div class="o-price o-price--with-discount">
        <div class="o-price__icon">{{ icontype }}</div>
        <div class="o-price__data">
            <span class="o-price__currency">{{ currency }}</span>
            <span class="o-price__main">{{ value }}</span>
            <span class="o-price__discount">{{ discount }}</span>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Price',
  props: {
      value: String,
      currency: String,
      discount: String,
      icontype: String
  }
}
</script>