@mixin lists-reset() {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin breakpoint($breakpoint,$direction: $media-direction) {

    // Es wird gecheckt ob der Wert in der Sass Map vorhanden ist
    @if map-has-key($breakpoints, $breakpoint) {
  
      // Ausgabe
      @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }
  
    // Wenn ihr oben einen Wert eingetragen habt wird hier gecheckt ob ihr einen Einheit angehängt habt. Falls nicht wird px genutzt.
    @else if unitless($breakpoint) {
      $breakpoint: $breakpoint + 0px;
  
      // Ausgabe
      @media (#{$direction}-width: $breakpoint) {
        @content;
      }
    }
  }