<template>
    <footer class="c-footer">
        <Logotype />
        <Paragraph text="© JobLeadsAlle Rechte vorbehalten" />
    </footer>
</template>

<script>

import Logotype from '@/objects/Logotype/Logotype.vue';
import Paragraph from '@/objects/Paragraph/Paragraph.vue';

export default {
  name: 'Footer',
  components: {
    Logotype,
    Paragraph
  }
}
</script>