<template>
    <div class="c-registerform">
        <Button class="o-button o-button__close" text="X" />
        <Paragraph class="o-paragraph o-paragraph--font-14 o-paragraph--line-22" text="Werden Sie jetzt Premium-Mitglied, um diskreten Kontakt zu tausenden Headhuntern und vollen Zugriff auf vorselektierte Spitzenpositionen aus über 100.000 Quellen zu erhalten." />
        <Form :formData=formData />
    </div>
</template>

<script>

import Paragraph from '@/objects/Paragraph/Paragraph.vue';
import Button from '@/objects/Button/Button.vue';
import Form from '@/components/Form/Form.vue';

export default {
  name: 'RegisterForm',
  data () {
    return {
      formData: [
        {
          name: 'Register Form',
          submitText: 'Jetzt Mitglied werden',
          fields: [
            { type: 'text', name: 'user_name', text: 'Vorname', icon: 'user', required: true },
            { type: 'text', name: 'user_lastname', text: 'Name', icon: 'user_plus', required: true },
            { type: 'email', name: 'user_email', text: 'Email', icon: 'user_home', required: true  },
          ]
        }
      ]
    }
  },
  components: {
    Paragraph,
    Button,
    Form
  }
}
</script>