<template>
  <div id="app">
    <Header />
    <main>
      <Homepage />
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header/Header.vue';
import Footer from '@/components/Footer/Footer.vue';

import Homepage from './components/Homepage.vue'

export default {
  name: 'app',
  components: {
    Header,
    Footer,
    Homepage
  }
}
</script>